version: 0.0.{build}-{branch}

clone_depth: 1

pull_requests:
  do_not_increment_build_number: true

install:
- cmd: git submodule update --init --recursive

image: Visual Studio 2017

matrix:
    fast_finish: false

platform:
    - x64
    - x86

configuration:
    - Debug
    - Release

before_build:
- cmd: nuget restore

build:
  verbosity: minimal